.team-chinpoko-component{
  position: relative;
  display:flex;
    &--clickable{
      cursor: pointer;
      transition: transform 300ms, filter 300ms, box-shadow 300ms;
      &:hover{
        transform: scale(1.5) translateY(-30%);
        z-index:2;
      }
    }
    &--dead{
      background: darkred;
    }
    &--current{
      background: lightgrey;
    }
    &__chinpoko{
      height: 150px;
      width: 150px;
      text-align: center;
    }

    &__hpbox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
    }
    &__statbox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
    }
    &__biomebox{
      width: 130px;
      background: #fff;
      border: 3px solid #888;
    }

    .hpbox{
      &__title{
        display: flex;
      }
      &__name{  }
      &__lvl{
        flex:1;
        text-align: right;
      }
      &__healthbar{
        border: 2px solid #000;
        height: 10px;
        background: #00ff00;
      }
    }

    .biomebox{
      &__row{
        height: 2em;
        display: flex;
        align-items: center;
      }
      &__row-symbol{
        margin-right: 0.2em;
      }
      &__row-content{
        display: flex;
        align-items: center;
      }
    }

    .type-symbol{
      height: 1.5em;
      width: 1.5em;
    }
}