.phase-group {
	margin-top: 5px;
	margin-bottom: 5px;
}

.phase-container {
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
}

.phase-container.is-show{
	border: 2px solid blue;
}

.phase-container.is-current{
	border: 5px solid red !important;
}

.phase {
	background-color: lightgrey;
	width: 50%;
	display: flex;
	position: relative;
}

.phase-symbol {
	position: absolute;
	left: 1em;
}

.phase.is-filled {
	background: grey;
}

.phase.is-extra {
	background: lightgreen;
}

.phase.is-extra.is-filled {
	background: mediumseagreen;
}