.deck-builder-component{
	overflow: auto;
	
	&__deck{
		display: grid;
		grid-template-columns: repeat(7, 1fr);
  		grid-gap: 10px;
	}

	&__tab-button-row{
		display: flex;
		flex-direction: row;
		padding: 5px;
	}
}